<div class="DataTableContainer">
    <table class="Table">
        <thead class="Header">
            <tr class="HeaderRow">
                @for (col of columns(); track trackCol(col, $index)) {
                    <th
                        [ngStyle]="col.headerCellStyles"
                        class="HeaderCell"
                        [style.minWidth]="typeof col.minWidth === 'number' ? col.minWidth: null"
                        [style.maxWidth]="typeof col.maxWidth === 'number' ? col.maxWidth: null">
                            {{ col.label }}
                    </th>
                }
            </tr>
        </thead>

        <tbody>
            @for (row of rows(); track trackRow(row, $index)) {
                <tr class="DataRow">
                    @for (col of columns(); track trackCol(col, $index)) {
                        <td
                            [ngStyle]="getDataCellStyles(col, row)"
                            class="DataCell"
                            [style.minWidth]="typeof col.minWidth === 'number' ? col.minWidth: null"
                            [style.maxWidth]="typeof col.maxWidth === 'number' ? col.maxWidth: null">
                                {{ getCellValue(col, row) }}
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
