<div class="DataTableContainer">
    <table class="Table">
        <thead class="Header">
            <tr class="HeaderRow">
                @for (col of displayedColumns(); track trackCol(col, $index)) {
                    @if (!col.hide) {
                        <th
                            [ngStyle]="col.headerCellStyles"
                            [style.minWidth]="typeof col.minWidth === 'number' ? (col.minWidth + 'px'): null"
                            [style.maxWidth]="typeof col.maxWidth === 'number' ? (col.maxWidth + 'px'): null"
                            class="HeaderCell"
                            [class.Sortable]="col.sortable"
                            [class.Sort_Asc]="col.sortable && sortByColumn === col && sortDirection === 'asc'"
                            [class.Sort_Desc]="col.sortable && sortByColumn === col && sortDirection === 'desc'"
                            (click)="col.sortable && onSortClick(col)">
                                <span class="Content">
                                    <span class="Label">{{ col.label }}</span>
                                    <span class="SortIndicator" aria-hidden="true">
                                        <span class="SortArrow SortArrow_Asc">▲</span>
                                        <span class="SortArrow SortArrow_Desc">▼</span>
                                    </span>
                                </span>
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @for (row of displayedRows(); track trackRow(row, $index)) {
                <tr class="DataRow">
                    @for (col of displayedColumns(); track trackCol(col, $index)) {
                        @if (!col.hide) {
                            <td
                                [ngStyle]="row.styles[col.key]"
                                [style.minWidth]="typeof col.minWidth === 'number' ? (col.minWidth + 'px'): null"
                                [style.maxWidth]="typeof col.maxWidth === 'number' ? (col.maxWidth + 'px'): null"
                                class="DataCell">
                                    {{ getCellValue(col, row) }}
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
